<div class="hero">
	<br />
	<div class="frosty col-xs-8 col-xs-offset-2 text-center">
		<br />
		<h1>The #1 Video Course Marketplace</h1>
		<br />
		<h3>What will you learn today!?</h3>
		<br />
		<%= link_to 'Browse Courses', courses_path, :class => 'btn btn-success' %>
		<br /><br />
	</div>
</div>

<br />

<div class="col-xs-10 col-xs-offset-1 features text-center">
	<div class= "col-xs-12 col-md-6 teach">
		<h3>Learn</h3>
		<hr class="visible-cs visible-sm" />
		<div>
			<%= image_tag 'learn.png', :class => 'pull-left learn-teach img-responsive' %>
		</div>
		<br />
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		</p>
	</div>
	<div class="col-xs-12 col-md-6 learn">
		<h3>Teach</h3>
		<hr class="visible-xs visible-sm" />
		<div>
			<%= image_tag 'teach.png', :class => 'pull-left learn-teach img-responsive' %>
		</div>
		<br />
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</div>
</div>